doctype html
html
  head
    title 3 + 2 D
    link(href="http://ashishbs7.github.io/style.css", rel='stylesheet')
    link(href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700", rel="stylesheet")
  body
    block content
      font
        h1 ..Welcome to the fifth Dimension, #{name}..
