body {
		margin: 0;
		padding: 0;
		background-image: url("http://kflyfm.com/upload/2013%20best%20of%20covers/tesseractalteredstate1920x590579274.jpg");
		background-color: #383A3B;
		text-align: center;
		}

h1 {
		font-family: 'Amatic SC', cursive;
		font-weight: 700;
		line-height: 46px;
		font-size: 46px;
		margin: 20px 0 23px 0;		
		}

